*{
    margin: 0; padding: 0;

}
html{
    margin: 0;
	padding: 0;
	background:url(../index/fondo.jpg) no-repeat center top;
	background-size: cover;
	font-family:sans-serif;
	height: 100vh;
}

body{
    width: 750px; height: 750px; margin: auto; 
background-color: pink; 
}

header {
    width: 750px; height: 250px;
background-color: rgb(93, 130, 233);
 }

nav {
    width: 750px; height: 50px;
background-color: rgb(145, 145, 236);
 }

main {
    width: 750px; height: 400px;
background-color: green; 
}

footer {
    width: 750px; height: 50px;
background-color: rgb(31, 201, 201);
 }

section#banner{
    width: 500px; height: 250px; float: left;
background-color:  rgb(93, 130, 233);
}

section#logo{
    width: 250px; height: 125px; float: left;
background-color: rgb(190, 190, 231);
}

section#login{
    width: 250px; height: 125px; float: left;
background-color: rgb(119, 10, 119);
}

aside#left{
    width: 150px; height: 400px; float: left;
background-color: rgb(146, 146, 219);
}

article {
    width: 500px; height: 400px; float: left;
background-color: rgb(190, 190, 231);
}

aside#right{
    width: 100px; height: 400px; float: left;
background-color: rgb(190, 190, 231);
}
