#menu li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font:bold 14px verdana,sans=serif;
}
#boton{
    padding: 0;
    text-align: right;
    position: relative;

    top: 10%;
    left: 1%;
    height: 70%;
    width: 80%;
}
#boton li{
    display: inline;
    text-align: right;
    font:bold 11px verdana,sans-serif;
}

#boton li a{
    font-family: Arial;
    font-size: 12px;
    text-decoration: none;
    float: left;
    padding: 10px;
    background-color:rgb(139, 139, 223);
    color:rgb(2, 0, 0);
    text-align: right;
    

  
}
#boton li a:hover{
    background-color: #2586d7;
    margin-top: 2px;
    padding-bottom: 12px;
    text-align: right;

}
#menu2{
    position: relative;
    top: 2%;
    left: 2%;
    height: 97%;
    width: 95%;

    background-color:rgb(190, 190, 231);
    color: #454545;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
}
#menu2 li{
    display: inline-block;
    list-style: none;
    padding: 8px;
    font:bold 11px verdana,sans-serif;
}
#menuvertical li a{
    text-decoration:none;
    color: black;
}
#menuvertical li a:hover{
    background-color: #2586d7;
    text-align: right;
    margin-top: 6px;
    padding-bottom: : 5px;
}
#banner{
    font: bold 32px broadway,sans-serif;
    text-align: center;
    color: black;
}
#imajen{
    position: relative;
    top: 4%;
    left: 29%;
    height:100%;
    width: auto;
}
#presenta{
    position: relative;

    font:11px verdana,sans-serif;
    text-align:center;
    color: black;

    top:-43%;
    left: -3.5%;
    height: 20%;
    width: 85.5%;
    margin: 17px;
    padding: 37px;
    background-color: rgb(190, 190, 231);

    -moz-border-radius:14px;
    -webkit-border-radius:14px;
}
#pie{
    font: 12px verdana, sans-serif;
    text-align: center;
    color:green;
}
h2{
    font: 12px verdana, sans-serif;
    text-align: justify;
}
li > ul {
    position: absolute;
    top:0;
    left: 100%;
    width: 200px;
    box-shadow: 3px 0 10px rgba(0,0,0,.2);
    -webkit-animation: aparecer .7s;
    display: none;
}

ul{
    list-style: none;

}
#menuvertical label{
    color: red;
    display: table;
    padding-left: 1px;
    text-decoration: none;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#menuvertical li {
    height: 20px;
    line-height: 20px;
    position: relative;
    width: 70%;
}
nav ul li:hover > ul {
    display: inherit;
}

