body{
	margin: 0;
	padding: 0;
	background:url(../calculadora/fondcal.png) no-repeat center top;
	background-size: cover;
	font-family:sans-serif;
	height: 100vh;
}
body{
    text-align: center;
    color: rgb(67, 252, 21);
    font-family: Arial;
    font-size: 22px;
    text-decoration: none;
    float: center;
    padding: 22px;
   
  
}


